service cloud.firestore {
  match /databases/{database}/documents {
		match /profiles {
      match /{uid} {
      	allow read;
        allow write;
      }
    }
  }
}
